<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <title>はじめのページ</title>
  <script src="../static/js/first_page.js"></script>
  <link rel="stylesheet" href="../static/css/first_page.css">
</head>

<body>
  <div id="all">
    <h1>本日はご来店ありがとうございます。</h1>
    <h2>現在お使いのキャリアを選択してください</h2>
      <span class="btn" id="dbtn1" onclick="putcarrer(this);" value="docomo">docomo</span>
      <span class="btn" id="abtn1" onclick="putcarrer(this)">au</span>
      <span class="btn" id="sbtn1" onclick="putcarrer(this)">Softbank</span>
      <a href="info.html" class="btn" id="ubtn1">UQmobile</a>
      <a href="info.html" class="btn" id="ybtn1">Y!mobile</a>
  </div>
</body>

</html>
