<!DOCTYPE html>
<html>

<head>
  <mate charset="utf-8">
  <title>機種変更の見積もり</title>
  <link rel="stylesheet" href="../static/css/agreement.css">
  <script src="../static/js/agreement.js"></script>
</head>

<body>
  <h1>機種変更の見積もり(仮)</h1>
  <h3>店頭で頭金といたしまして、3240円かかります。(オプション加入で0円)</h3>
  <h3>初月のみ手続き料金として、2160円引き落とされます。</h3>

  <p>
    <h2>今の携帯</h2>
    <label><input type="radio" name="omashin" value="iPhone">iPhone</label>
    <label><input type="radio" name="omashin" value="android">Android</label>
    <label><input type="radio" name="omashin" value="その他">その他</label>
  </p>

  <p>
    <h2>新しい携帯</h2>
    <label><input type="radio" name="nmashin" value="iPhone">iPhone</label>
    <label><input type="radio" name="nmashin" value="android">Android</label>
    <label><input type="radio" name="nmashin" value="その他">その他</label>
  </p>

  <p>
   <h2>下取り</h2>
   <label><input type="radio" name="shitadori" value="下取りをする">下取りをする</label>
   <label><input type="radio" name="shitadori" value="下取りをしない">下取りをしない</label>
  </p>

  <p>
    <h2>通話頻度</h2>
    <label><input type="checkbox" name="tsuuwa" value="ほとんどしない">ほとんどしない</label><br>
    <label><input type="checkbox" name="tsuuwa" value="家族とのみする">家族とのみする</label><br>
    <label><input type="checkbox" name="tsuuwa" value="5分以内でする">5分いないでする</label><br>
    <label><input type="checkbox" name="tsuuwa" value="5分以上する">5分以上する</label><br>
    <label><input type="checkbox" name="tsuuwa" value="1時間以上する(月に1回以上)">1時間以上する(月に1回以上)</label>
  </p>

  <p>
    <h2>データ使用量</h2>
    <label><input type="radio" name="data" value="1GB以下">1GB以下</label>
    <label><input type="radio" name="data" value="3GB以下">3GB以下</label>
    <label><input type="radio" name="data" value="5GB以下">5GB以下</label>
    <label><input type="radio" name="data" value="10GB以下">10GB以下</label>
    <label><input type="radio" name="data" value="15GB以下">15GB以下</label>
    <label><input type="radio" name="data" value="月によって異なる">月によって異なる</label>
  </p>

 <a href="result.html"><input type="button" onclick="putmemori()" value="確定する"></a>

</body>

</html>
