body {
  margin-top: 150px;
  background-image: url("../img/ノジマ背景.jpg");
  background-size: cover;
  text-align: center;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background: #FF3333;
  color: #FFF;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .4s;
}

.btn:hover {
  background-color: #008080;
}

#btn {
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  padding: 250px 250px;
  background: #FF9966;
  color: #FFF;
  width: 300px;
  height: 300px;
  line-height: 100px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .4s;
}

#btn:hover {
  background-color: #FFCCCC;
}
